{% extends 'BoatifyApp/header.html' %}
{% load static %}
{% block con %}
<link rel="stylesheet" type="text/css" href="{% static 'BoatifyApp/css/home.css'%}">

{% endblock %}

{% block content %}

<div class="login-box">
	<h1>
    	<span>B</span>
        <span>O</span>
        <span>A</span>
        <span>T</span>
        <span>I</span>
        <span>F</span>
        <span>Y</span>
    </h1>
    <form>
    <div class="textbox">
    <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
    <input type="text" placeholder="FROM" name="from" required />
    </div>

    <div class="textbox">
    <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
    <input type="text" placeholder="TO" name="to" required />
    </div>


    <input type="submit" class="btn" name="" value="FIND BOATS" />
    </form>
</div>
{% endblock %}
