{% extends 'BoatifyApp/header.html' %}
{% load static %}
{% block cont %}
<link rel="stylesheet" type="text/css" href="{% static 'BoatifyApp/css/home.css'%}">

{% endblock %}

{% block content %}

<div class="login-box">
    <h1>
        <span>B</span>
        <span>O</span>
        <span>A</span>
        <span>T</span>
        <span>I</span>
        <span>F</span>
        <span>Y</span>
    </h1>
    <form action="{% url 'schedulelist' %}" method="post">
        {% csrf_token%}
        <div class="textbox">
            <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
            <!--<select name="from">
                <option></option>
                {% for d in Schedules %}
                <option>{{d.fr}}</option>
                {% endfor %}
            </select>-->
            <input type="text" name="from" placeholder="From" required>
        </div>

        <div class="textbox">
            <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
            <!--<select name="to">
                <option></option>
                {% for d in Schedules %}
                <option>{{d.to}}</option>
                {% endfor %}
            </select>-->
            <input type="text" name="to" placeholder="To " required>
        </div>


        <input type="submit" class="btn" value="FIND BOATS"/>
    </form>

</div>
{% endblock %}
