{% extends 'BoatifyApp/header.html' %}
{% load static %}
{% block con %}
<link rel="stylesheet" type="text/css" href="{% static 'BoatifyApp/css/stylel.css'%}">
{% endblock %}

{% block content %}

<form class="box" action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" name="submitbutton" value="Login">
</form>
<div>
    {% for message in messages %}
    <h3 style="color:yellow"> {{message}} </h3>
    {% endfor %}
</div>

{% endblock %}