
{% extends 'BoatifyApp/headerlr.html' %}
{% load static %}
{% block con %}
<link rel="stylesheet" type="text/css" href="{% static 'BoatifyApp/css/styler.css'%}">
{% endblock %}

{% block content %}


<div class="login-box">
    <h1>Register Here</h1>
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <input type="text" name="namer" placeholder="Enter name" required>
        <input type="email" name="emailr" placeholder="Enter Email" required>
        <input type="password" name="pwr" placeholder="Enter Password" required>
        <input type="submit" name="submit" value="Signup">
    </form>


</div>
{% endblock %}