{% extends 'BoatifyApp/header.html' %}
{% load static %}
{% block con %}
<link rel="stylesheet" type="text/css" href="{% static 'BoatifyApp/css/stylel.css'%}">
{% endblock %}

{% block content %}

<form class="box" action="{% url 'register' %}" method="post">
    {% csrf_token%}
    <input type="text" name="name1" placeholder="First name" required>
    <input type="text" name="name2" placeholder="Last name" required>
    <input type="text" name="uname" placeholder="User name" required>
    <input type="email" name="emailr" placeholder="Enter Email" required>
    <input type="password" name="pwr1" placeholder="Password" required>
    <input type="password" name="pwr2" placeholder="Confirm Password" required>
    <input type="submit" name="" value="Register">
    <div>
        {% for message in messages %}
        <h3 style="color:yellow"> {{message}} </h3>
        {% endfor %}
    </div>
</form>

{% endblock %}
