{% load static %}
<!DOCTYPE html>
<html>
<head>
    <style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}



    </style>
</head>
<body background="{% static 'BoatifyApp/images/wave.png'%}">

<h1 align="center" style="color:red">SCHEDULES</h1>
{% if Schedules %}


<table align="center" style="width:50%">
    <tr>
        <th>Boat ID</th>
        <th>From</th>
        <th>To</th>
        <th>Time</th>
        <th>Fare</th>
    </tr>
    {% for d in Schedules %}
    <tr>
        <td>{{d.boatid}}</td>
        <td>{{d.fr}}</td>
        <td>{{d.to}}</td>
        <td>{{d.time}}</td>
        <td>{{d.fare}}</td>
        <form action="{% url 'seatres' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="fboatid" value={{d.boatid}}>
            <input type="hidden" name="ffr" value={{d.fr}}>
            <input type="hidden" name="fto" value={{d.to}}>
            <input type="hidden" name="ftime" value={{d.time}}>
            <input type="hidden" name="ffare" value={{d.fare}}>
            {% if user.is_authenticated %}
            <td><input type="submit" name="booknow" value="Book Now"></td>
            {% else %}
            <td><a href="{% url 'login' %}">Login to Book </a></td>
            {% endif %}
        </form>

    </tr>
    {% endfor %}

</table>
{% else %}
<h2 align="center" style="color:red">No services at this time !!!</h2>
<a align="center" href="{% url 'homepage' %}"><h3>Back to Home
</h3></a>
{% endif %}

</body>
</html>
