{% extends 'payment/header.html' %}
{% load static %}
{% block con %}
<link rel="stylesheet" type="text/css" href="{% static 'payment/css/paymenthome.css'%}">
{% endblock %}
{% block content %}

<div class="box" align="center">
    <img id="succes-icon" src="{% static 'payment/images/check.png' %}" width="100" height="100">
    <h4 style="color:yellow">The payment of Rs. {{print.Amount}} was successful</h4>
    <form method="post" action="{% url 'qrcode' %}">
        {% csrf_token %}

        <input type="hidden" name="fcusid" value={{print.CusId}}>
        <input type="submit" value="View Ticket">
    </form>


    <div>


    </div>

</div>
{% endblock %}
