{% extends 'payment/header.html' %}
{% load static %}
{% block con %}
<link rel="stylesheet" type="text/css" href="{% static 'payment/css/paymenthome.css'%}">
{% endblock %}

{% block content %}

<div class="box">
    <h1 style="color:yellow" align="left">Booking Details</h1>
    <h3 style="color:yellow" align="left">From : {{print.From}}</h3>
    <h3 style="color:yellow" align="left">To : {{print.To}}</h3>
    <h3 style="color:yellow" align="left">Time : {{print.Time}}</h3>
    </br>
    <h3 style="color:yellow" align="left">Total Amount : {{print.Fare}}</h3>
    </br>
    <form action="{% url 'checkout' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="PAY NOW">
    </form>

</div>
{% endblock %}
