{% extends 'payment/header.html' %}
{% load static %}
{% block con %}
<link rel="stylesheet" type="text/css" href="{% static 'payment/css/paymenthome.css'%}">
{% endblock %}

{% block content %}

<div class="box">
    <h1 style="color:yellow" align="left">Booking Details</h1>
    <h3 style="color:yellow" align="left">BoatID : <span style="color:white">{{print.Boatid}}</span></h3>
    <h3 style="color:yellow" align="left">From : <span style="color:white">{{print.From}}</span></h3>
    <h3 style="color:yellow" align="left">To : <span style="color:white">{{print.To}}</span></h3>
    <h3 style="color:yellow" align="left">Time : <span style="color:white">{{print.Time}}</span></h3>
    </br>
    <h3 style="color:yellow" align="left">Total Amount : <span style="color:white">{{print.Fare}}</span></h3>
    </br>
    <form action="{% url 'paytm' %}" method="post">
        {% csrf_token %}

        <input type="hidden" name="ffare" value={{print.Fare}}>
        <input type="submit" value="PAY NOW">
    </form>

</div>
{% endblock %}
