{% extends 'payment/header.html' %}
{% load static %}
{% block con %}
<link rel="stylesheet" type="text/css" href="{% static 'payment/css/paymenthome.css'%}">
{% endblock %}
{% block content %}

<div class="box" align="center">
    <img id="succes-icon" src="{% static 'payment/images/check.png' %}" width="100" height="100">
    <h4 style="color:yellow">The payment of Rs. {{amount}} was successful</h4>
    <a href="{% url 'qrcode' %}">View Ticket</a>

    <div>


    </div>

</div>
{% endblock %}
